<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <nav class="d-flex justify-content-around align-items-center col-12">
        <h1 class="text-center">Welcome {{user.first_name}}</h1>
        <a href="/new/guitar" class="btn btn-info">Best electric axe for YOU</a>
        <a href="/acoustic" class="btn btn-info">Nah, I prefer acoustic</a>
        <a href="/msg_dashboard" class="btn btn-info">GAS messages</a>
        <a href="/logout" class="btn btn-info">Logout</a>
    </nav>
    <div class="col-8 mx-auto">
        <h2>Here are the symptoms of your GAS</h2>
        <table class="table table-hover table-dark table-striped">
            <thead>
                <tr>
                    <th>Make</th>
                    <th>Model</th>
                    <th>Price</th>
                    <th>Color</th>
                    <th>Orientation</th>
                    
                </tr>
            </thead>
            <tbody>
                {% for guitar in guitars %}
                {% if guitar.user_id == session.user_id %}
                
                <tr>
                    <td>{{guitar.make}}</td>
                    <td>{{guitar.model}}</td>
                    <td>${{guitar.price}}</td>
                    <td>{{guitar.color}}</td>
                    <td>{{guitar.orientation}}</td>
                    
                    <td>
                        <a class="text-info" href="/guitar/{{guitar.id}}">View</a>
                        <a class="text-danger" href="/destroy/guitar/{{guitar.id}}">Delete</a>
                    </td>
                </tr>
                
                {% endif%}
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
</html>