<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Guitar Gazing</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
    <div class="container-fluid">
        <nav class="d-flex justify-content-around align-items-center col-12">
            <h1 class="text-center">Welcome {{user.first_name}}</h1>
            <a href="/dashboard" class="btn btn-info">Dashboard</a>
            <a href="/logout" class="btn btn-info">Logout</a>
        </nav>
        <div class="col-8 mx-auto container bg-dark">
            <div class="card mx-auto bg-dark" style="width: 50%;">
                <div class="card-body">
                    <h2 class="card-title text-light">Here is the next guitar for your collection!</h2>
                    <img class="img-fluid" src="{{guitar.image}}" alt="guitar">
                    <h2 class="card-title text-light">{{guitar.make}} {{guitar.model}}</h2>

                    <p class="card-text mt-3 text-info">Price:</p>
                    <p class="card-text text-light">${{guitar.price}}</p>

                    <p class="card-text mt-3 text-info">Color:</p>
                    <p class="card-text text-light">{{guitar.color}}</p>

                    <p class="card-text mt-3 text-info">Orientation:</p>
                    <p class="card-text text-light">{{guitar.orientation}}</p>

                </div>
            </div>
        </div>
    </div>

</body>
<style>
    body {
        background-color: #212121;
        color: #fff;
    }
</style>
</html>