<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Guitar Gazing</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
    <div class="container-fluid">
        <nav class="d-flex justify-content-around align-items-center col-12">
            <h1 class="text-center">Welcome {{user.first_name}}</h1>
            <a href="/dashboard" class="btn btn-info">Dashboard</a>
            <a href="/logout" class="btn btn-info">Logout</a>
        </nav>
        <div class="col-8 mx-auto container bg-dark">
            <div class="card mx-auto bg-dark" style="width: 50%;">
                <div class="card-body">
                    <h2 class="card-title text-light">Here is your next guitar!</h2>
                    <img class="img-fluid" src="../static/img/guitars_project/Epi_lp_purple_starving_2.webp" alt="">
                    <h2 class="card-title text-light">Epiphone Les Paul Standard</h2>

                    <p class="card-text mt-3 text-info">Price:</p>
                    <p class="card-text text-light">$499</p>

                    <p class="card-text mt-3 text-info">Looks:</p>
                    <p class="card-text text-light">Flashy Cathy</p>

                    <p class="card-text mt-3 text-info">Orientation:</p>
                    <p class="card-text text-light">Right Handed</p>

                    <form method="post" action="/add/guitar">
                        <input class="btn btn-primary" type="submit" value="Collect It!" name="purchase"/>
                    </form>
                    <a href="/dashboard" class="btn btn-secondary">Reject It!</a>
                </div>
            </div>
        </div>
    </div>

</body>

</html>